
<div class="topback">
<h1 class ="class= topword">FACENOTE</h1>
<h2>みんなと思い出を共有しよう！！</h2>
<h3 class="topword2"><%= link_to "新規登録する", new_user_path %><br>
<%= link_to "ログインして始める", new_session_path %></h3><br>
</div>