/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
 header{
height: 30px;
background-color:#6495ED;
border-radius: 5px;
 }
 
 .header{
     font-family: Courier;
 }
 
 li{
  margin-right: 20px;
  list-style: none;
  color: white;
 }
 .headername{
  float:left;
 }
 .headerword{
  float:right;
 }
 
 body{
  background-color: #CCCCCC;
  min-height: 100%;
 }
 
 wrapper{
  position: relative;
  min-height: 100%;
 }
 footer{
  border-radius: 10px;
  text-align: right;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
 
 .errormessage{
  color:black;
 }